<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="scroll-container">
    <section id="intro" class="scroll-area">
      {% include navbar.html %}
      {% include intro.html %}
    </section>
    <section id="about" class="scroll-area">
      {% include about.html %}
    </section>
    <section id="contact" class="scroll-area">
      {% include contact.html %}
    </section>
    <!--Footer begins here-->
    <section id="footer" class="scroll-area">
      {% include footer.html %}
    </section>
  </div>
</body>

<script>
  var navItems = document.getElementsByClassName('navbar-item');
  var sections = document.getElementsByClassName('scroll-area');
  const viewOffset = 200;

  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var position = window.pageYOffset;

    for (var i = 0; i < navItems.length; i++) {
      navItems[i].classList.remove('is-active');
    }

    for (var i = 0; i < sections.length; i++) {
      var sectionTop = sections[i].offsetTop - viewOffset;
      var sectionBottom = sections[i].offsetTop + sections[i].offsetHeight - viewOffset;

      if (scroll >= sectionTop && scroll < sectionBottom) {
        navItems[i].classList.add('is-active');
      }
    }
  });

  // Snap scrolling
  document.documentElement.style.scrollSnapType = 'y mandatory';
  document.body.style.scrollSnapType = 'y mandatory';
</script>

</html>
